<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>Welcome to {{hotelName}}</h1>
    <p>Sample Angular application built for Hotel Inventory</p> 
  </div>
<div *ngIf="hiddenValue">
hide this
</div>
<div>
    <app-header></app-header>
</div>

Number of rooms : 
<div [textContent]="numberOfRooms"></div>

List of rooms available 

<div *ngIf="isAvailable" class="container pt-5">

    <app-rooms-list [roomslist] = "allRoomsProps" [specials]="specialBreakfast"
    (selectedRoom)="fetchSelectedRoom($event)"
    ></app-rooms-list>

</div>

<div *ngIf="isValid"> Data is valid. </div> 
<div>
    <button (click)="somefunction()" >Press</button>
</div>

