<p>http-comm works!</p>
{{isReady}}

<br>
<br>
<div class="container">
    <input type="number" class="form-control" (input)="enteredInput($event)">
</div>



<br>
<br>
<div class="container-fluid">
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userList">
                <th>{{user.getId()}}</th>
                <th>{{user.getfirstName()}}</th>
                <th>{{user.getlastName()}}</th>
                <th>{{user.getEmail()}}</th>
            </tr>
        </tbody>
    </table>
</div>
